{% extends 'base.html' %}
{% block body %}
	<div class="login_top clearfix">
		<a href="../ttsx_goods/index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>密码重置</h1>
				</div>
				<div class="form_input">
					<form id="form" method="post">
                        {% csrf_token %}
						<input type="text" name="username" id="user_name" class="name_input" placeholder="请输入用户名">
						<input type="password" name="pwd" id="user_pwd" class="pass_input" placeholder="请输入新密码" >
                        <input type="password" name="cpwd" id="user_cpwd" class="pass_input1" placeholder="请确认密码" >
						<input type="submit" name="" value="确认" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}
