{% extends 'base.html' %}
    <script>
        $(function () {
            var name_flag = false
            var pwd_flag = false
            $('#form').submit(function () {
                $('#user_name').blur()
                $('#user_pwd').blur()
                if(!(name_flag != false || pwd_flag != false)){
                    return true
                }else{
                    return false
                }
            });

            $('#user_name').blur(function () {
                var name = $(this).val()

                if(5>name.length ||name.length>20){
                    $('.user_error').html('请输入5-20个字符的用户名').show()
                    name_flag = true
                }else {
                     $('.user_error').html('').hide()
                    name_flag = false
                }
            });
            $('#user_pwd').blur(function () {
                pwd = $(this).val()
                if(8>pwd.length ||pwd.length>20){
                    $('.pwd_error').html('密码最少8位，最长20位').show()
                    pwd_flag = true
                }else {
                    $('.pwd_error').html('').hide()
                    pwd_flag = false
                }
            });
            if('{{name_error }}' != ''){
                $('.user_error').html('{{ name_error }}').show()
            }
            if('{{ pwd_error }}' != ''){
                $('.pwd_error').html('{{ pwd_error }}').show()
            }
        })
    </script>

{% block body %}
	<div class="login_top clearfix">
		<a href="/" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/register/">立即注册</a>
				</div>
				<div class="form_input">
					<form id="form" method="post"  action="/login_check/">
                        {% csrf_token %}
						<input type="text" name="username" id="user_name" class="name_input" placeholder="请输入用户名" value="{{ uname|default:'' }}">
						<div class="user_error">{{ name_error }}</div>
						<input type="password" name="pwd" id="user_pwd" class="pass_input" placeholder="请输入密码" >
						<div class="pwd_error">{{ pwd_error }}</div>
						<div class="more_input clearfix">
							<input type="checkbox" checked="checked" value="1" name="remember">
							<label>记住用户名</label>
							<a href="/forgetpwd/">忘记密码</a>
						</div>
						<input type="submit" name="" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}
