{% extends 'ttsx_goods/base.html' %}

{% block detail %}
      <ul class="goods_type_list clearfix">
            {% for goods in page_obj %}
            <li>
                <a href="/detail{{ goods.object.id }}/"><img src="/static/{{ goods.object.gpic }}"></a>
                <h4><a href="/detail{{ goods.object.id }}/">{{ goods.object.gtitle }}</a></h4>
                <div class="operate"><span>{{goods.object.gunit }}</span>
                    <a href="#" class="add_goods" title="加入购物车"></a>
                </div>
            </li>
            {% endfor %}
      </ul>

{% endblock detail %}



{% block left %}
{% endblock left %}